/* .nave{
    height: 100%;
} */

.nav_bar{
    height:90px;
}


.logo{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    
}

.log_text{
    color:blue;
    font-size: 50   px;
}


.heading1{
    border-radius: 6px;
    text-align:center;
    background-color: aliceblue;
    color:blue;
}

.img1{
    width:100%;
}

.para{
    text-align: justify;
}

.ceo_pic{
    width:200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 20px;
    
}

.social_icon{
    display: inline-block;
    margin-left: 10px;
}

.img_certi{
    width: 100%;
    height: 100%;
}

.deal_pic{
    width: 80%;
    height: 250px;
    border-radius: 25px;
}
.slider_pic{
    width:100%;
    height: 100%;
    border-radius: 15px;
}

.slider_div{
border:1px solid black;
height: 230px;

}

.car_pic{
    border: 1px solid aliceblue;
    border-radius: 25px;
    background-color: aliceblue;
}

#product_page_body{
    background-color: azure;
}