/* .nave{
    height: 100%;
} */


.logo{
    height: 50px;
    width: 200px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 10px;
}

.log_text{
    color:blue;
    font-size: 50   px;
}


.heading1{
    border-radius: 6px;
    text-align:center;
    background-color: aliceblue;
    color:blue;
}

.img1{
    width:100%;
}

.para{
    text-align: justify;
}